<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324115033242-5nbb87sefdv0frekc2aqb03cgq9nkjsr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324115033242-5nbb87sefdv0frekc2aqb03cgq9nkjsr</string>
	<key>API_KEY</key>
	<string>AIzaSyCy3QbkGfgwTcjEQC72GOc2_0iLRcv3Qmk</string>
	<key>GCM_SENDER_ID</key>
	<string>324115033242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaiagao.AdvancedCalendar</string>
	<key>PROJECT_ID</key>
	<string>advancedcalendar-51f38</string>
	<key>STORAGE_BUCKET</key>
	<string>advancedcalendar-51f38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324115033242:ios:9bfe87897b42156b62c323</string>
</dict>
</plist>